ENV_TYPE="dev or prod"

# Database credentials
DATABASE_HOSTNAME="localhost"
DATABASE_PORT=5432
DATABASE_PASSWORD="root"
DATABASE_NAME="dev"
DATABASE_USERNAME="postgres"
TOKEN_BOT="token of telegram bot"